.container {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media #{$mobile} {
    padding: 10px 0;
  }
}
