.slider-container {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: #f8f8f8;
}

.slider-wrapper {
  height: 100%;
  display: flex;
  transition: all 1.5s ease;
}

.slider-slide {
  max-width: 100vw;
  height: 100vh;
  display: flex !important;
  align-items: center;
}

.slider-img-container {
  height: 100%;
  flex: 1;
}

.slider-image {
  height: 80%;
}

.slider-info-container {
  flex: 1;
  padding: 50px;
}

.slider-title {
  font-size: 70px;
}

.slider-desc {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
}

.slider-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: transparent;
  cursor: pointer;
}

.control-btn {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.control-btn.prev {
  left: 10px;
}

.control-btn.next {
  right: 10px;
}

/*=============================== BREAKPOINTS ===============================*/
/* For large devices */
@media screen and (max-width: 992px) {
  .slider-title {
    font-size: 1.5rem;
  }

  .slider-desc {
    font-size: 1rem;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .slider-title {
    font-size: 1.2rem;
  }

  .slider-desc {
    font-size: 0.9rem;
  }
}

/* For small devices */
@media screen and (max-width: 576px) {
  .slider-title {
    font-size: 1rem;
  }

  .slider-desc {
    font-size: 0.8rem;
  }
}

/* For smaller devices */
@media screen and (max-width: 350px) {
  .slider-title {
    font-size: 0.8rem;
  }

  .slider-desc {
    font-size: 0.7rem;
  }
}
